.tech-slideshow {
    height: 200px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .tech-slideshow > div {
    height: 200px;
    width: 100%;
    background: 
    url('./Group 7.png');
    position: absolute;
    top: 0;
    left: 0;
    /* height: 100%; */
    transform: translate3d(0, 0, 0);
  }
  .tech-slideshow .mover-1 {
    animation: moveSlideshow 20s linear infinite;
  }
  .tech-slideshow .mover-2 {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    background-position: 0 -200px;
    animation: moveSlideshow 20s linear infinite;
  }
  .tech-slideshow:hover .mover-2 {
    opacity: 1;
  }
  .tech-slideshow:hover .mover-1 {
    opacity: 0;
  }
  
  @keyframes moveSlideshow {
    100% { 
      transform: translateX(-40.6666%);  
    }
  }