.about{
    /* width:100%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    /* background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%); */
    color: var(--clr-light);
    /* padding-top: 8rem; */
   /* padding-inline: 10rem; */
    /* border: red 5px solid;  */
 }
 #about-main{
   width:100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 8rem; */
 }
.row23{
   display: flex;
   margin-top: 3em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border:5px red solid; */
}
 .about_body-text p{
   color: grey;
 }
 .about_body-text{
   margin-top:1em;
 }
 .about_body-text b{
   font-weight: bold;
   color: white;
   font-size: 20px;
 }
 .about-image{
   height: fit-content;
   width: 100%;
   /* border:5px red solid; */
    color: rgb(255, 255, 255);
    flex-direction: column;
    /* padding-left: 10em; */
    /* border-radius: 50%; */
/* margin-bottom: 3rem; */
    
 }
 
 .about-image img{
    /* object-fit:cover; */
    border-radius: 5%;
 }
 
 .about-text{
    display: flex;
    width:100%;
    height:fit-content;
    flex-direction: column;
    color: rgb(255, 255, 255);
    font-weight: 800;
    /* padding: 1rem; */
    /* padding-left: 5em; */
    /* padding-right: 5em; */
    /* margin-top:1rem; */
    /* border:5px red solid; */
 }
 
 .highlight-text{
 color: var(--clr-accent);
 font-family: var(--ff-secondary);
 font-weight: 900;
 font-size: larger;
 margin-top: 1rem;
 position: relative;
 padding-left: 2rem;
 }

 .highlight-text:before{
         content: "";
         display: block;
         width: 2.5px;
         height: 4.5rem;
         background: var(--clr-accent);
         left: 0;
         top: 0%;
         position: absolute;
 }
 
 
 
 
 
.h1 {
    /* margin-bottom: 4rem;
    font-family: Audiowide, sans-serif;
    color: var(--clr-dark);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--clr-accent);
    font-weight: 400;
    text-transform: uppercase;
    display: block;
    font-size: 3em; */
    /* padding-left: 5rem; */
      font-family:var(--ff-primary);
     font-size:4rem;
    /* margin-bottom: 1em; */
     letter-spacing: 2px;
     color:#ffffff;
      /* margin-top: 2em; */
  
 }

 @media(max-width:600px){
 .about_body-text{
   border: 0.5px solid var(--clr-accent);
   padding: 1em;
   margin-top: 2.5rem;
}
 }

 @media(min-width:800px){
    .about-image h1 {
       font-size: 4em;

    }

    .about-main{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }

   
 }
 
 
 .text-body {
   margin-top:0;
   padding: 0;
   letter-spacing: 0.6px;
   font-size: 0.5rem;
   font-weight: var(--fw-bold);
   font-family: var(--ff-primary);
 color: rgb(253, 249, 249);
 }
 
 
 
 .about-btn{
   display: flex;
   justify-content: center;
    align-items: center;
    font-size: 0.8em;
    background: transparent;
    /* background: rgb(233,0,179);
 background: radial-gradient(circle, rgba(233,0,179,1) 0%, rgba(0,153,202,1) 100%); */
    shadow: var(--bs);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid rgba(233,0,179,1);
     /* color:var(--clr-accent); */
    text-decoration: none;
    padding: 1em 3em;
    font-weight: var(--fw-bold);
    font-family: var(--ff-primary);
    /* margin: 1rem; */
    margin-bottom: 6rem;
    width: 50%;
 }
 
 .about-btn:hover{
   background: rgb(0,153,202);
 background: radial-gradient(circle, rgba(0,153,202,1) 0%, rgba(233,0,179,1) 100%);
    transition: all ease 0.5s;
    color:rgb(250, 248, 248);
  }
 
 
 
 
 @media(min-width:800px){
 
  #about-main{
    width:100%; 
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     /* margin-top: 8rem; */
  }
 .row23{
    display: flex;
    margin-top: 3em;
     flex-direction:row;
     justify-content: center;
     align-items: center;
     /* border:5px red solid; */
 }

  
  .about-text .text-highlight{
      padding-top:2rem;
      
  }


  .text-highlight:before{
   content: "";
   display: block;
   width: 2.5px;
   height: 90px;
   background: var(--clr-accent);
   left: 0;
   top: 0%;
   position: absolute;
 }
 
  .about-text{
    display: flex;
    /* margin-top: 8.5rem; */
    flex-direction: column;
    justify-content: start;
    padding-left: 5rem;
  }
    
  .about-text .about_body-text{

    display: flex;
    flex-direction: column;
  
}

.about-btn{
    margin-top: 2rem;
}

.about_body-text {
  
   margin-top: 1em;
   padding-top: 0;
  
}
.row{
  flex-direction: column;
}
 } 