.footer .container {
  display: flex;
  flex-direction: row;
  grid-template-columns: repeat(3, 1fr), 2fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "logo links1  links2 cta" "social links1 links2 copyright";
  gap: 1rem;
  justify-items: start;
  padding-inline: 1rem;
}
.footer .container {
  display: flex;
  flex-direction: row;
  grid-template-columns: repeat(3, 1fr), 2fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "logo links1  links2 cta" "social links1 links2 copyright";
  gap: 1rem;
  justify-items: start;
  padding-inline: 1rem;
}

/* #contact{
  width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: var(--clr-dark); */
    /* margin-top: 8rem; */
/* }  */

#contact{
    width:100%;
    height: 100%;
    border-radius: 5px;
    /* background-color: red; */
    /* border: 5px red solid; */
      display:flex;
      justify-content: top;
      align-items: center;
      flex-direction: column;
      /* background-color: var(--clr-dark); */
      /* margin-top: 8rem; */
  }
  
  #contact h1{
    color: var(--clr-light);
    font-size: 3rem;
  }
  
  #contact form{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
  
  #contact form input,
  #contact form textarea{
    width:100%;
    height:50px;
    margin:5px 0px;
    padding: 10px;
    border-bottom: 0.5px solid white;
    outline: none;
    border-radius: 5px;
    background-color: transparent;
    color:white;
  }
  #contact form textarea{
    height: 150px;
    font-weight: 900;
  }
  #contact form input:hover,
  textarea:hover{
    box-shadow: 5px 5px 10px var(--clr-accent_second);
  }
  
  #contact form input[type="submit"]{
    height: 45px;
    background-color: var(--clr-accent);
    border: 1px solid white;
  
    font-weight: bold;
    text-transform: uppercase;
    width: 35%;
    cursor: pointer;
    margin-top: 1em;
  }
  
  #contact form input[type="submit"]:hover{
    height: 55px;
    background-color: var(--clr-dark);
    color: var(--clr-accent_second);
    border: 2px solid var(--clr-accent_second);
    box-shadow: 5px 5px 10px var(--clr-accent_second);
  }


  .h3{
    color: aliceblue;
    font-family: 'Audiowide';
    font-weight: 300;
    font-size: 50px;
    padding: 0;
    margin: 0;
  }
  .p{
    margin-bottom: 1em;
    color: aliceblue;
  }

  *, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
   }
  
  
  .mouse_scroll {
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 100px;
    margin-top: 125px;
  }
  
  
  .m_scroll_arrows
  {
    display: block;
    width: 5px;
    height: 5px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
     
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    margin: 0 0 3px 4px;
    
    width: 16px;
    height: 16px;
  }
  
  
  .unu
  {
    margin-top: 1px;
  }
  
  .unu, .doi, .trei
  {
      -webkit-animation: mouse-scroll 1s infinite;
      -moz-animation: mouse-scroll 1s infinite;
      animation: mouse-scroll 1s infinite;
    
  }
  
  .unu
  {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -webkit-animation-direction: alternate;
    
    animation-direction: alternate;
    animation-delay: alternate;
  }
  
  .doi
  {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;
    
    animation-delay: .2s;
    animation-direction: alternate;
    
    margin-top: -6px;
  }
  
  .trei
  {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -webkit-animation-direction: alternate;
    
    animation-delay: .3s;
    animation-direction: alternate;
    
    
    margin-top: -6px;
  }
  .q4{
    -webkit-animation-delay: .4s;
    -moz-animation-delay: .4s;
    -webkit-animation-direction: alternate;
    
    animation-delay: .4s;
    animation-direction: alternate;
    
    
    margin-top: -6px;
  }
  .q5{
    -webkit-animation-delay: .5s;
    -moz-animation-delay: .5s;
    -webkit-animation-direction: alternate;
    
    animation-delay: .5s;
    animation-direction: alternate;
    
    
    margin-top: -6px;
  }
  .q6{
    -webkit-animation-delay: .6s;
    -moz-animation-delay: .6s;
    -webkit-animation-direction: alternate;
    
    animation-delay: .6s;
    animation-direction: alternate;
    
    
    margin-top: -6px;
  }
  .q7{
    -webkit-animation-delay: .7s;
    -moz-animation-delay: .7s;
    -webkit-animation-direction: alternate;
    
    animation-delay: .7s;
    animation-direction: alternate;
    
    
    margin-top: -6px;
  }
  .q8{
    -webkit-animation-delay: .8s;
    -moz-animation-delay: .8s;
    -webkit-animation-direction: alternate;
    
    animation-delay: .8s;
    animation-direction: alternate;
    
    
    margin-top: -6px;
  }
  .q9{
    -webkit-animation-delay: .9s;
    -moz-animation-delay: .9s;
    -webkit-animation-direction: alternate;
    
    animation-delay: .9s;
    animation-direction: alternate;
    
    
    margin-top: -6px;
  }

  .center{
display: flex;
justify-content: center;
align-items: center;
  }
  .mouse {
    height: 42px;
    width: 24px;
    border-radius: 14px;
    transform: none;
    border: 2px solid white;
    top: 170px;
  }
  
  .wheel {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: white;
    position: relative;
    
    height: 4px;
    width: 4px;
    border: 2px solid #fff;
    -webkit-border-radius: 8px;
            border-radius: 8px;
  }
  
  .wheel {
    -webkit-animation: mouse-wheel 0.6s linear infinite;
    -moz-animation: mouse-wheel 0.6s linear infinite;
    animation: mouse-wheel 0.6s linear infinite;
  }
  
  @-webkit-keyframes mouse-wheel{
     0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  
    100% {
      opacity: 0;
      -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
      transform: translateY(6px);
    }
  }
  @-moz-keyframes mouse-wheel {
    0% { top: 1px; }
    25% { top: 2px; }
    50% { top: 3px;}
    75% { top: 2px;}
    100% { top: 1px;}
  }
  @-o-keyframes mouse-wheel {
  
     0% { top: 1px; }
    25% { top: 2px; }
    50% { top: 3px;}
    75% { top: 2px;}
    100% { top: 1px;}
  }
  @keyframes mouse-wheel {
  
     0% { top: 1px; }
    25% { top: 2px; }
    50% { top: 3px;}
    75% { top: 2px;}
    100% { top: 1px;}
  }
  
  @-webkit-keyframes mouse-scroll {
  
    0%   { opacity: 0;}
    50%  { opacity: .5;}
    100% { opacity: 1;}
  }
  @-moz-keyframes mouse-scroll {
  
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
  }
  @-o-keyframes mouse-scroll {
  
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
  }
  @keyframes mouse-scroll {
  
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
  }
  

  @media(min-width:1500px){
    #row{
      width:100%;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* background-color: var(--clr-dark); */
        margin-top: 4rem;
    }
    #Offer{
      width:100%;
      display:flex;
      justify-content: center;
      /* align-items: center; */
      flex-direction: column;
      padding-left:3rem ;
      /* background-color: var(--clr-dark); */
      /* margin-top: 8rem; */  
    }
    
    /* #contact{
      width:100%;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* background-color: var(--clr-dark); */
        /* margin-top: 8rem; */
    /* }  */
    
    #contact{
        width:100%;
        height: 100%;
        border-radius: 5px;
        /* background-color: red; */
        /* border: 5px red solid; */
          display:flex;
          justify-content: top;
          align-items: center;
          padding-left: 30em;
          padding-right: 30em;
          flex-direction: column;
          /* background-color: var(--clr-dark); */
          /* margin-top: 8rem; */
      }
  }